In [55]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [56]:
df=pd.read_json('../../03_DataPreprocessing/00_Merge/Merged.json')
df2=pd.read_json('../../04_DataMining/01_Preprocessing/First.json')

In [57]:
df.head()

,country,degree,eng,engExamResult,field,fieldGroup,fund,fundType,fundValue,gpaBachelors,...,papersGLOB,papersIRAN,uniAccepted,uniBachelors,uniBachelorsOLD,uniMasters,uniMastersOLD,uniRejected,uniSelected,year
10,canada,Doctorate,High,7.500000,electric,11.0,True,Award,25348,3.0,...,11,1,new south wales,amir-kabir,امير کبير,amir-kabir,امير کبير,"swiss federal institute of , lausanne",mcmaster,2008
100,sweden,Masters,VeryHigh,8.000000,urban planning,NaN,False,n/a,0,2.5,...,0,0,virginia tech_ florida_kth,beheshti,شهید بهشتی,n/a,n/a,mcgill ? carleton ?? ???? ??????_ ryerson ?? t...,royal lnstitute of,2008
1002,germany,Masters,High,7.153244,physics,2.0,False,n/a,0,2.0,...,0,0,université kofi annan,tehran,دانشگاه تهران,n/a,n/a,n/a,université kofi annan,2005
1003,canada,Masters,VeryHigh,8.000000,electric,11.0,True,Award,28400,4.0,...,1,0,toronto,amir-kabir,امیرکبیر,n/a,n/a,british columbia,toronto,2010
1006,sweden,Masters,VeryHigh,8.000000,law,5.0,False,n/a,0,4.0,...,0,0,n/a,tehran,تهران,n/a,n/a,n/a,north dakota,2010

In [1]:
df2['uniBachelors']=df['uniBachelors']
df2['uniMasters']=df['uniMasters']
df2['paper']=df2.papersGLOB+(df2.papersIRAN*0.25)
del df2['papersGLOB']
del df2['papersIRAN']

NameError: name 'df' is not defined

In [59]:
df2.head()

,country,countryCoded,degree,degreeCoded,eng,engCoded,fieldGroup,fund,gpaBachelors,gpaMasters,gre,highLevelBachUni,highLevelMasterUni,targetUni,uniAccepted,uniSelected,year,uniBachelors,uniMasters,paper
10,canada,1,Doctorate,1,High,1,11,True,3.0,4.000000,True,True,True,mcmaster,new south wales,mcmaster,2008,amir-kabir,amir-kabir,11.5
100,sweden,2,Masters,0,VeryHigh,0,0,False,2.5,3.442986,True,True,False,royal lnstitute of,virginia tech_ florida_kth,royal lnstitute of,2008,beheshti,n/a,0.0
1002,germany,3,Masters,0,High,1,2,False,2.0,3.442986,False,True,False,université kofi annan,université kofi annan,université kofi annan,2005,tehran,n/a,0.0
1003,canada,1,Masters,0,VeryHigh,0,11,True,4.0,3.442986,True,True,False,toronto,toronto,toronto,2010,amir-kabir,n/a,1.0
1006,sweden,2,Masters,0,VeryHigh,0,5,False,4.0,3.442986,False,True,False,north dakota,n/a,north dakota,2010,tehran,n/a,0.0

In [60]:
df2.head()

,country,countryCoded,degree,degreeCoded,eng,engCoded,fieldGroup,fund,gpaBachelors,gpaMasters,gre,highLevelBachUni,highLevelMasterUni,targetUni,uniAccepted,uniSelected,year,uniBachelors,uniMasters,paper
10,canada,1,Doctorate,1,High,1,11,True,3.0,4.000000,True,True,True,mcmaster,new south wales,mcmaster,2008,amir-kabir,amir-kabir,11.5
100,sweden,2,Masters,0,VeryHigh,0,0,False,2.5,3.442986,True,True,False,royal lnstitute of,virginia tech_ florida_kth,royal lnstitute of,2008,beheshti,n/a,0.0
1002,germany,3,Masters,0,High,1,2,False,2.0,3.442986,False,True,False,université kofi annan,université kofi annan,université kofi annan,2005,tehran,n/a,0.0
1003,canada,1,Masters,0,VeryHigh,0,11,True,4.0,3.442986,True,True,False,toronto,toronto,toronto,2010,amir-kabir,n/a,1.0
1006,sweden,2,Masters,0,VeryHigh,0,5,False,4.0,3.442986,False,True,False,north dakota,n/a,north dakota,2010,tehran,n/a,0.0

In [61]:
df2.to_json('First.json',date_format='utf8')